<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color content="#121111"> 
        <title>$title$ - Norman Liu's blog</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        $if(notPost)$
        <style>
main {
  max-width: max(90%, 30rem);
}
        </style>
        $endif$

        $if(author)$
          <meta name="author" content="$author$">
        $endif$
        $if(keywords)$
          <meta name="keywords" content="$keywords$">
        $endif$
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">normative statements</a>
            </div>
            <nav>
                <a href="/">Home</a>
                
                <a href="/about.html">About</a>

                <a href="/contact.html">Contact</a>

                <a href="/archive.html">Archive</a>
            </nav>
            <hr class="head_delim">
        </header>

          <div id="content">
        <main role="main">
                        $body$
        </main>

          </div>
          <footer>
            <hr>
            <div id="footer-container">
              <div id="footer-text">
                <span style="color:yellow">λ</span> © $currentYear$ Norman Liu.  
                <span id="hakyll-ad">
                Site powered by 
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
                </span> 
              </div>
                $partial("templates/footer-links.html")$
            </div>
          </footer>
    </body>
</html>
